.footer {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 0px 10px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: left;
    height: 40px;
    background-color: #7304b0;
    color: #000000;
    }
.footer--icons {
    box-sizing: border-box;

    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    justify-content: right;
    align-items: right;

}